@{
    ViewBag.Title = "Codellica Telerik MVC Sample";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </div>
    }

