<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>


<script id="detail-template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CodellicaTelerikMVC.ViewModels.ProductViewModel>()
            .Name("grid_#=CategoryID#")
            .Columns(columns =>
            {
                columns.Bound(c => c.ProductName).Width("30%");
                columns.Bound(c => c.QuantityPerUnit).Width("30%");
                columns.Bound(c => c.UnitPrice).Format("{0:c}");
                columns.Bound(c => c.UnitsInStock);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("GetCategoryProducts", "Grid", new { categoryID = "#=CategoryID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>

<div>
    @(Html.Kendo().Grid<CodellicaTelerikMVC.ViewModels.CategoryViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CategoryName).Width(140);
            columns.Bound(c => c.Description).Width(450);
            columns.Bound(c => c.Image64).ClientTemplate("<img src='data:image/jpeg;base64,#=Image64#' />").Title("Picture");
        })
        .HtmlAttributes(new { style = "height: 700px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .ClientDetailTemplateId("detail-template")
        .Pageable(pageable => pageable
            .PageSizes(true)
            .ButtonCount(5))        
        .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetCategories", "Grid"))
             )
    )
</div>







